<div style="display: flex;align-items: center;justify-content: space-between;">
  <div class="p-grid ui-g-12 ui-md-12" style="display: flex;align-items: center;justify-content: flex-start;">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input class="p-md-6 p-lg-3" type="text" pInputText [(ngModel)]="filtro" placeholder="Pesquisar por nome" />
    </span>
    <p-button class="p-col-2" label="Pesquisar" (click)="filtrar()"></p-button>
  </div>
  <div>
    <p-button class="p-col-2" label="Novo usuário" (onClick)="addPessoa()"></p-button>
  </div>
</div>

<div>
  <h1>Usuários</h1>
  <p-table [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:14%">Nome</th>
        <th style="width:14%">Cpf/Cnpj</th>
        <th style="width:14%">Telefone</th>
        <th style="width:14%">Email</th>
        <th style="width:14%">Endereços comerciais</th>
        <th style="width:14%">Endereços residenciais</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
      <tr>
        <td>{{ pessoa.nomeRazaoSocial }}</td>
        <td>{{ pessoa.cpfCnpj }}</td>
        <td>{{ pessoa.telefone }}</td>
        <td>{{ pessoa.email }}</td>
        <td>
          <div *ngFor="let end of pessoa.enderecos">
            <div *ngIf="end.tipoEndereco == 'C'">
              {{ end.numero + ", " + end.complemento + ", " + end.bairro + ", " + end.cep + ", " + end.cidade + ", " +
              end.uf + "; "}}
            </div>
          </div>
        </td>
        <td>
          <div *ngFor="let end of pessoa.enderecos">
            <div *ngIf="end.tipoEndereco == 'R'">
              {{ end.numero + ", " + end.complemento + ", " + end.bairro + ", " + end.cep + ", " + end.cidade + ", " +
              end.uf + "; "}}
            </div>
          </div>
        <td>
          <p-button label="Editar" (click)="editar(pessoa.id)"></p-button>
          <p-button label="Excluir" (click)="abrirModal(pessoa)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="excluir" [style]="{width: '25vw'}">
  <div class="p-grid" style="text-align: center;">
      <p style="font-size: 25px;">Deseja realmente excluir este usuário?</p>
      <p style="font-size: 20px;">essa ação é irreversível</p>
      <p-button class="p-col-12 p-field" label="Remover" (click)="selectPeessoa()"></p-button>
  </div>
</p-dialog>
